In [2]:
from brewerydb import *
from config import api_key
import requests
import pandas as pd

In [3]:
BreweryDb.configure(api_key, DEFAULT_BASE_URI)

In [4]:
sd_categories = BreweryDb.categories({'geo':1,
                         'lat':32.7157,
                         'lng':117.1611,
                         'radius':30,
                         'units':'m'})

In [17]:
# looping through API call and appending beer categories to list
beer_categories =[]
for y in range(len(sd_categories["data"])):
    print(f" printing beer category # {y} within 30 mile radius of SD")
    

    beer_categories.append(sd_categories['data'][y]['name'])

 printing beer category # 0 within 30 mile radius of SD
 printing beer category # 1 within 30 mile radius of SD
 printing beer category # 2 within 30 mile radius of SD
 printing beer category # 3 within 30 mile radius of SD
 printing beer category # 4 within 30 mile radius of SD
 printing beer category # 5 within 30 mile radius of SD
 printing beer category # 6 within 30 mile radius of SD
 printing beer category # 7 within 30 mile radius of SD
 printing beer category # 8 within 30 mile radius of SD
 printing beer category # 9 within 30 mile radius of SD
 printing beer category # 10 within 30 mile radius of SD
 printing beer category # 11 within 30 mile radius of SD
 printing beer category # 12 within 30 mile radius of SD
 printing beer category # 13 within 30 mile radius of SD
 printing beer category # 14 within 30 mile radius of SD
 printing beer category # 15 within 30 mile radius of SD

In [18]:
#Viewing contents of list
beer_categories

['British Origin Ales',
 'Irish Origin Ales',
 'North American Origin Ales',
 'German Origin Ales',
 'Belgian And French Origin Ales',
 'International Ale Styles',
 'European-germanic Lager',
 'North American Lager',
 'Other Lager',
 'International Styles',
 'Hybrid/mixed Beer',
 'Mead, Cider, & Perry',
 'Other Origin',
 'Malternative Beverages',
 'test',
 '"test"']

In [21]:
#converting lis to DataFrame
beer_categories_df = pd.DataFrame(beer_categories, columns=["Beer Categories"])

In [22]:
#Viewing DF contents
beer_categories_df

                   Beer Categories
0              British Origin Ales
1                Irish Origin Ales
2       North American Origin Ales
3               German Origin Ales
4   Belgian And French Origin Ales
5         International Ale Styles
6          European-germanic Lager
7             North American Lager
8                      Other Lager
9             International Styles
10               Hybrid/mixed Beer
11            Mead, Cider, & Perry
12                    Other Origin
13          Malternative Beverages
14                            test
15                          "test"