In [2]:
from brewerydb import *
from config import api_key
import requests
import numpy as np
import pandas as pd

In [3]:
BreweryDb.configure(api_key, DEFAULT_BASE_URI)

In [4]:
aa = BreweryDb.breweries({'geo':1,
                         'lat':32.7157,
                         'lng':117.1611,
                         'radius':30,
                         'units':'m'})

In [6]:
# looping through API call and appending beer names to list
beer_names =[]
for y in range(len(aa["data"])):
    print(f" printing brewery index # {y} within 30 mile radius of SD")
    

    beer_names.append(aa['data'][y]['name'])

 printing brewery index # 0 within 30 mile radius of SD
 printing brewery index # 1 within 30 mile radius of SD
 printing brewery index # 2 within 30 mile radius of SD
 printing brewery index # 3 within 30 mile radius of SD
 printing brewery index # 4 within 30 mile radius of SD
 printing brewery index # 5 within 30 mile radius of SD
 printing brewery index # 6 within 30 mile radius of SD
 printing brewery index # 7 within 30 mile radius of SD
 printing brewery index # 8 within 30 mile radius of SD
 printing brewery index # 9 within 30 mile radius of SD
 printing brewery index # 10 within 30 mile radius of SD
 printing brewery index # 11 within 30 mile radius of SD
 printing brewery index # 12 within 30 mile radius of SD
 printing brewery index # 13 within 30 mile radius of SD
 printing brewery index # 14 within 30 mile radius of SD
 printing brewery index # 15 within 30 mile radius of SD
 printing brewery index # 16 within 30 mile radius of SD
 printing brewery index # 17 within 30 mile radius of SD
 printing brewery index # 18 within 30 mile radius of SD

In [24]:
#Viewing contents of list
beer_names

['Anheuser-Busch InBev',
 'Boston Beer Company (Samuel Adams)',
 'Breckenridge Brewery',
 'Brouwerij De Leite',
 'Dock Street Brewery',
 'Guinness',
 'Harmon Brewing Company',
 'Jackalope Brewing Company',
 'Lagunitas Brewing Company',
 'Last Name Brewing',
 'Laughing Dog Brewing',
 'Miller Brewing Company',
 'New Holland Brewing Company',
 'Oskar Blues Brewery',
 'Portsmouth Brewery',
 'Sierra Nevada Brewing Company',
 'SweetWater Brewing Company',
 'Wachusett Brewing Company',
 'Zero Gravity Craft Brewery']

In [25]:
#converting lis to DataFrame
beer_names_df = pd.DataFrame(beer_names, columns=["Beer Names"])

In [26]:
#Viewing list contents
beer_names_df

                            Beer Names
0                 Anheuser-Busch InBev
1   Boston Beer Company (Samuel Adams)
2                 Breckenridge Brewery
3                   Brouwerij De Leite
4                  Dock Street Brewery
5                             Guinness
6               Harmon Brewing Company
7            Jackalope Brewing Company
8            Lagunitas Brewing Company
9                    Last Name Brewing
10                Laughing Dog Brewing
11              Miller Brewing Company
12         New Holland Brewing Company
13                 Oskar Blues Brewery
14                  Portsmouth Brewery
15       Sierra Nevada Brewing Company
16          SweetWater Brewing Company
17           Wachusett Brewing Company
18          Zero Gravity Craft Brewery