In [14]:
import pandas as pd
import numpy as np
from config import gkey
import requests
import json

In [11]:
address = "Addresses.csv"

In [12]:
address_data = pd.read_csv(address)
address_data.columns = ['brewery', 'address']
address_data.head()

                    brewery                                            address
0         2Kids Brewing Co.      8680 Miralani Drive #123, San Diego, CA 92126
1  13 Point Brewing Company               8035 Broadway, Lemon Grove, CA 91945
2      32 North Brewing Co.  8655 Production Avenue Suite A, San Diego, CA ...
3     Abnormal Beer Company     16990 Via Tazon Suite 124, San Diego, CA 92127
4  AleSmith Brewing Company             9990 AleSmith Ct., San Diego, CA 92126

In [22]:
address_data['lat'] = ""
address_data['long'] = ""
address_data.head()

,brewery,address,lat,long
0,2Kids Brewing Co.,"8680 Miralani Drive #123, San Diego, CA 92126",,
1,13 Point Brewing Company,"8035 Broadway, Lemon Grove, CA 91945",,
2,32 North Brewing Co.,"8655 Production Avenue Suite A, San Diego, CA ...",,
3,Abnormal Beer Company,"16990 Via Tazon Suite 124, San Diego, CA 92127",,
4,AleSmith Brewing Company,"9990 AleSmith Ct., San Diego, CA 92126",,

In [36]:
address = '8680 Miralani Drive #123, San Diego, CA 92126'
lats = []
longs = []

params = {"address": address, "key": gkey}
base_url = 'https://maps.googleapis.com/maps/api/geocode/json'
response = requests.get(base_url, params=params)

geo = response.json()
geo

{'results': [{'address_components': [{'long_name': '123',
     'short_name': '123',
     'types': ['subpremise']},
    {'long_name': '8680', 'short_name': '8680', 'types': ['street_number']},
    {'long_name': 'Miralani Drive',
     'short_name': 'Miralani Dr',
     'types': ['route']},
    {'long_name': 'Miramar',
     'short_name': 'Miramar',
     'types': ['neighborhood', 'political']},
    {'long_name': 'San Diego',
     'short_name': 'San Diego',
     'types': ['locality', 'political']},
    {'long_name': 'San Diego County',
     'short_name': 'San Diego County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'California',
     'short_name': 'CA',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']},
    {'long_name': '92126', 'short_name': '92126', 'types': ['postal_code']}],
   'formatted_address': '8680 Miralani Dr #123, San Diego, CA 92126, USA',
   'geometry': {'bounds': {'northeast': {'lat': 32.8969696,
      'lng': -117.1369494},
     'southwest': {'lat': 32.8960697, 'lng': -117.1380516}},
    'location': {'lat': 32.8966532, 'lng': -117.1372753},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 32.8978686302915,
      'lng': -117.1361515197085},
     'southwest': {'lat': 32.89517066970851, 'lng': -117.1388494802915}}},
   'place_id': 'Ei8xMjMsIDg2ODAgTWlyYWxhbmkgRHIsIFNhbiBEaWVnbywgQ0EgOTIxMjYsIFVTQSIfGh0KFgoUChIJH4b5F9D424ARlMLaozYQ604SAzEyMw',
   'types': ['subpremise']}],
 'status': 'OK'}

In [44]:
#address = '8680 Miralani Drive #123, San Diego, CA 92126'
lats = []
longs = []
for x in address_data['address']:
    params = {"address": address, "key": gkey}
    base_url = 'https://maps.googleapis.com/maps/api/geocode/json'
    response = requests.get(base_url, params=params)
    try:
        print(f'Printing {x} of address_data["address"]')
        geo = response.json()
        lat = geo["results"][0]["geometry"]["location"]["lat"]
        long = geo["results"][0]["geometry"]["location"]["lng"]
        lats.append(lat)
        longs.append(long)
    except IndexError:
              print(f'Skipping IndexError')

SyntaxError: invalid syntax (<ipython-input-44-667a7feac4ef>, line 9)

In [42]:
lats

[32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532,
 32.8966532]