In [1]:
import pandas as pd
import numpy as np
from config import api_key
import requests
import json

csv_data = "beer_winners.csv"

all_winner_data = pd.read_csv(csv_data)
all_winner_data.columns = ['medal', 'beer_name','brewery',
                       'city','county','state',
                       'category','year','total_category_entries']
all_winner_data.head()

,medal,beer_name,brewery,city,county,state,category,year,total_category_entries
0,Gold,Milwaukee’s Best,Miller Brewing Co.,Golden,Jefferson,CO,American-Style Cream Ale or Lager,2009,24
1,Gold,County Seat Wheat,Blind Tiger Brewery & Restaurant,Topeka,Mason,KS,American-Style Wheat Beer,2009,19
2,Gold,Haywire Hefeweizen,Pyramid Breweries,Seattle,King,WA,American-Style Wheat Beer With Yeast,2009,43
3,Gold,Raspberry Creek,Breakwater Brewing Co.,Oceanside,San Diego,CA,Fruit Beer or Field Beer,2009,104
4,Gold,Stillwater Rye,Montana Brewing Co.,Billings,Christian,MT,Herb and Spice or Chocolate Beer,2009,85

In [3]:
aa = all_winner_data[all_winner_data['state'] == 'CA']
aa.reset_index(inplace=True)
ca_number = aa['index'].count()
print(f'There have been {ca_number} medal-winning beers in California in the last decade.')
cal_data = aa.drop(columns=['index'],axis=1)
cal_data.head()

There have been 553 medal-winning beers in California in the last decade.

,medal,beer_name,brewery,city,county,state,category,year,total_category_entries
0,Gold,Raspberry Creek,Breakwater Brewing Co.,Oceanside,San Diego,CA,Fruit Beer or Field Beer,2009,104
1,Gold,Golden Spike,Tustin Brewing Co.,Tustin,Orange,CA,Golden or Blonde Ale,2009,43
2,Gold,Kolsch,Sierra Nevada Brewing Co.,Chico,Butte,CA,German Style Kölsch,2009,43
3,Gold,Beech Street Bitter,Pizza Port Carlsbad,Carlsbad,San Diego,CA,English-Style India Pale Ale,2009,40
4,Gold,Racer 5 IPA,Bear Republic Factory Five,Cloverdale,Lauderdale,CA,American-Style Strong Pale Ale,2009,70

In [6]:
bb = cal_data[cal_data['county'] == 'San Diego']
bb.reset_index(inplace=True)
sd_number = bb['index'].count()
print(f'There have been {sd_number} medal-winning beers in San Diego in the last decade.')
sd_data = bb.drop(columns=['index'], axis=1)
sd_data.head()

There have been 148 medal-winning beers in San Diego in the last decade.

,medal,beer_name,brewery,city,county,state,category,year,total_category_entries
0,Gold,Raspberry Creek,Breakwater Brewing Co.,Oceanside,San Diego,CA,Fruit Beer or Field Beer,2009,104
1,Gold,Beech Street Bitter,Pizza Port Carlsbad,Carlsbad,San Diego,CA,English-Style India Pale Ale,2009,40
2,Gold,Shark Attack,Pizza Port Solana Beach,Solana Beach,San Diego,CA,Imperial Red Ale,2009,36
3,Gold,Longboard Brown,Rock Bottom Brewery - La Jolla,La Jolla,San Diego,CA,English Style Brown Ale,2009,41
4,Gold,Carnevale,The Lost Abbey,San Marcos,San Diego,CA,Belgian and French-Style Ale,2009,41