#### Let us start by importing our dependencies

In [4]:
import pandas as pd
import numpy as np
from config import api_key
import requests
import json
import scipy.stats as stats

In [5]:
# Create a dataframe of all award-winning beers since 2009
csv_data = "beer_winners.csv"

all = pd.read_csv(csv_data)
all.columns = ['medal', 'beer_name','brewery',
                       'city','county','state',
                       'category','year','total_category_entries']
all = all.sort_values('year', ascending=False)
all.reset_index(inplace=True)
all_winner_data = all.drop(columns=['index'],axis=1)
print("This is a dataframe with every award-winning beer since 2009")
all_winner_data.head()

This is a dataframe with every award-winning beer since 2009

,medal,beer_name,brewery,city,county,state,category,year,total_category_entries
0,Bronze,Eclipse,FiftyFifty Brewing Co.,Truckee,Nevada,CA,Wood- and Barrel-Aged Strong Stout,2018,177
1,Silver,Märzen,Sudwerk Brewing Co.,Davis,Yolo,CA,American-Style Amber Lager,2018,91
2,Gold,Oktoberfest,SKA Brewing,Durango,La Plata,CO,Vienna-Style Lager,2018,92
3,Gold,Barrel Aged Japance Off,Denver Beer Co. - Olde Town Arvada,Arvada,Jefferson,CO,Wood- and Barrel-Aged Beer,2018,77
4,Gold,3 Barrel Circus,River Dog Brewing Co.,Bluffton,Yell,SC,Wood- and Barrel-Aged Sour Beer,2018,76

### How many beers brewed in California have won a medal?

In [6]:
ca = all_winner_data[all_winner_data['state'] == 'CA']
ca.reset_index(inplace=True)
ca_number = ca['index'].count()
print(f'There have been {ca_number} award-winning* beers in California in the last decade.')
cal_data = ca.drop(columns=['index'],axis=1)
cal_data = cal_data.sort_values('year', ascending=False)
cal_data.reset_index(inplace=True)
cal_data = cal_data.drop(columns=['index'],axis=1)
cal_data.head()

There have been 553 award-winning* beers in California in the last decade.

,medal,beer_name,brewery,city,county,state,category,year,total_category_entries
0,Bronze,Eclipse,FiftyFifty Brewing Co.,Truckee,Nevada,CA,Wood- and Barrel-Aged Strong Stout,2018,177
1,Bronze,Nighthawk,Enegren Brewing Co.,Moorpark,Ventura,CA,Dark Lager,2018,62
2,Silver,Sour Cherry Sour,Hermitage Brewing Co.,San Jose,Graham,CA,Fruited Wood- and Barrel-Aged Sour Beer,2018,102
3,Bronze,Kumquat Saison,Smog City Brewing Wood Cellar,Torrance,Los Angeles,CA,Belgian-Style Fruit Beer,2018,65
4,Silver,The Shroud,Bravery Brewing,Lancaster,Los Angeles,CA,Imperial Stout,2018,86

### How many beers brewed in San Diego have won a medal?

In [36]:
temp = cal_data[cal_data['county'] == 'San Diego']
temp.reset_index(inplace=True)
sd_number = temp['index'].count()
print(f'There have been {sd_number} award-winning* beers in San Diego in the last decade.')
sd_data = temp.drop(columns=['index'], axis=1)
sd_data = sd_data.sort_values('year', ascending=False)
sd_data.reset_index(inplace=True)
sd_data = sd_data.drop(columns=['index'],axis=1)
a = sd_data[['brewery', 'city', 'county']]

# sd_data.to_csv('sd_data.csv')

There have been 148 award-winning* beers in San Diego in the last decade.
Pizza Port Solana Beach
Eppig Brewing
Karl Strauss Brewing Co. - La Jolla
North Park Beer Co.
Kilowatt Brewing
Breakwater Brewing Co.
Groundswell Brewing Co.
Groundswell Brewing Co.
BNS Brewing & Distilling Co.
Societe Brewing Co.
Port Brewing Co. / The Lost Abbey
Home Brewing Co.
Rip Current Brewery
Ocean Beach Brewery
Duck Foot Brewing Co.
Burgeon Beer Co.
Pizza Port Ocean Beach
Bagby Beer Co.
Karl Strauss Brewing Co. - Carlsbad
Ballast Point Brewing Co.
Second Chance Beer Co.
Stone Brewing World Bistro & Gardens - Liberty Station
Monkey Paw Brewing
Pizza Port Carlsbad
OB Brewery
Ballast Point Brewing Co. - Home Brew Mart
Culture Brewing Co.
AleSmith Brewing Co.
SouthNorte Beer Co.
Second Chance Beer Co.
Karl Strauss Brewing Co. - San Diego
Rip Current Brewery
Bagby Beer Co.
Culture Brewing Co.
BNS Brewing & Distilling Co.
Karl Strauss Brewing Co. - San Diego
Second Chance Beer Co.
AleSmith Brewing Co.
Duck Foot Brewing Co.
Mother Earth Brew Co.
New English Brewing Co.
Benchmark Brewing Co.
Karl Strauss Brewing Co. - San Diego
Pure Project
Societe Brewing Co.
BNS Brewing & Distilling Co.
Karl Strauss Brewing Co. - La Jolla
Alpine Beer Co.
Pizza Port Bressi Ranch
Rip Current Brewery
BNS Brewing & Distilling Co.
Societe Brewing Co.
The Lost Abbey
New English Brewing Co.
Green Flash Brewing Co.
Pizza Port Carlsbad
South Park Brewing - CA
Rip Current Brewery
Breakwater Brewing Co.
Karl Strauss Brewing Co. - La Jolla
Pizza Port Solana Beach
Pizza Port Ocean Beach
Ballast Point Brewing & Spirits - Scripps Ranch
URBN St. Brewing Co.
Pizza Port Ocean Beach
Karl Strauss Brewing Co.
Stone Brewing World Bistro & Gardens - Liberty Station
Port Brewing Co.
Karl Strauss Brewing Co. - La Jolla
Port Brewing Co.
Societe Brewing Co.
Green Flash Brewing Co.
Ballast Point Brewing & Spirits - Scripps Ranch
Stone Brewing World Bistro & Gardens - Liberty Station
AleSmith Brewing Co.
Ballast Point Brewing & Spirits - Scripps Ranch
Saint Archer Brewing Co.
Bagby Beer Co.
Benchmark Brewing Co.
AleSmith Brewing Co.
AleSmith Brewing Co.
Monkey Paw Brewing Co.
Coronado Brewing Company Brewpub
Karl Strauss Brewing Co.
Oceanside Ale Works
The Lost Abbey
Pizza Port Solana Beach
Pizza Port Carlsbad
The Lost Abbey
Green Flash Brewing Co.
Pizza Port Solana Beach
Green Flash Brewing Co.
The Lost Abbey
Pizza Port Solana Beach
Green Flash Brewing Co.
The Beer Co.
The Lost Abbey
AleSmith Brewing Co.
Port Brewing Co.
Pizza Port Carlsbad
AleSmith Brewing Co.
Pizza Port Carlsbad
Pizza Port Ocean Beach
Pizza Port Carlsbad
Pizza Port Carlsbad
Pizza Port Carlsbad
The Lost Abbey
Pizza Port Solana Beach
Pizza Port Carlsbad
AleSmith Brewing Co.
Brit Antrim Benefit Beer Pizza Port Ocean Beach
Pizza Port Carlsbad
Pizza Port Ocean Beach
AleSmith Brewing Co.
AleSmith Brewing Co.
Pizza Port Ocean Beach
Pizza Port Solana Beach
Karl Strauss Brewing Co.
Port Brewing Co.
Pizza Port Carlsbad
Pizza Port Carlsbad
Ballast Point Brewing Co.
Karl Strauss Brewing Co.
Pizza Port Carlsbad
Pizza Port Carlsbad
Stone Brewing Co.
Port Brewing Co.
Pizza Port Carlsbad
The Lost Abbey
Pizza Port Ocean Beach
Pizza Port Carlsbad
Stone Brewing Co.
Pizza Port Carlsbad
Port Brewing Co.
Pizza Port Carlsbad
Rock Bottom Brewery - La Jolla
Breakwater Brewing Co.
Pizza Port Carlsbad
The Lost Abbey
Pizza Port Carlsbad
Ballast Point Brewing Co
The Lost Abbey
Pizza Port Carlsbad
Green Flash Brewing Co.
Pizza Port Carlsbad
Pizza Port Carlsbad
Pizza Port Carlsbad
Pizza Port Solana Beach

### In terms of medals won, what are the top 5 breweries in San Diego?

In [18]:
medals_sd = sd_data.groupby(['brewery'])['medal'].count()
top_brew_sd = medals_sd.sort_values(ascending=False)
top_5_sd = top_brew_sd.head()
top_5_sd
zz = pd.DataFrame(top_5_sd)
top_5_sd_df = zz.rename(index=str, columns={"medal": "medal count"})
top_5_sd_df.reset_index()

                   brewery  medal count
0      Pizza Port Carlsbad           24
1     AleSmith Brewing Co.           10
2           The Lost Abbey            9
3  Pizza Port Solana Beach            8
4   Pizza Port Ocean Beach            7

### In terms of medals won, what are the top 5 breweries in California?

In [20]:
medals_cal = cal_data.groupby(['brewery'])['medal'].count()
top_brew_cal = medals_cal.sort_values(ascending=False)
top_5_cal = top_brew_cal.head()
cc = pd.DataFrame(top_5_cal)
top_5_cal_df = cc.rename(index=str, columns={"medal": "medal count"})
top_5_cal_df.reset_index()

                        brewery  medal count
0  Firestone Walker Brewing Co.           28
1           Pizza Port Carlsbad           24
2             Pabst Brewing Co.           12
3        Pizza Port Ocean Beach           12
4       Beachwood BBQ & Brewing           11




### Why is there a discrepancy between the San Diego list and the California list?
#### Let's find out!

In [72]:
pizza_port = all_winner_data[all_winner_data['brewery'] == 'Pizza Port Ocean Beach']
pizza_port = pizza_port.sort_values('year', ascending=False)
pizza_port.reset_index(inplace=True)
pizza_port = pizza_port.drop(columns=['index'],axis=1)
pizza_port

,medal,beer_name,brewery,city,county,state,category,year,total_category_entries
0,Gold,Guillaume,Pizza Port Ocean Beach,San Diego,San Diego,CA,Session Beer,2017,40
1,Bronze,Bacon and Eggs,Pizza Port Ocean Beach,San Diego,San Diego,CA,Coffee Beer,2015,149
2,Bronze,Guillaume,Pizza Port Ocean Beach,San Diego,San Diego,CA,Session Beer,2015,44
3,Silver,Guillaume,Pizza Port Ocean Beach,Ocean Beach,Suffolk,CA,Session Beer,2014,94
4,Bronze,La Flama Dorada,Pizza Port Ocean Beach,Ocean Beach,Suffolk,CA,Belgian-Style Tripel,2014,58
5,Gold,Beer Hunter,Pizza Port Ocean Beach,Ocean Beach,Suffolk,CA,Session Beer,2013,56
6,Silver,Rhino Chaser,Pizza Port Ocean Beach,Ocean Beach,Suffolk,CA,Imperial Red Ale,2013,56
7,Bronze,Kung Fu Elvis,Pizza Port Ocean Beach,Ocean Beach,Suffolk,CA,American-Style Strong Pale Ale,2013,120
8,Gold,Skidmark Brown Ale,Pizza Port Ocean Beach,San Diego,San Diego,CA,English-Style Mild Ale,2011,25
9,Silver,Rhino Chaser Imperial Red Ale,Pizza Port Ocean Beach,San Diego,San Diego,CA,Imperial Red Ale,2011,57
10,Bronze,Z-Man Stout,Pizza Port Ocean Beach,San Diego,San Diego,CA,Foreign-Style Stout,2011,23
11,Silver,Skidmark Brown,Pizza Port Ocean Beach,San Diego,San Diego,CA,English-Style Mild Ale,2010,27

### Now for the big question:
### What are the top 5 breweries in the United States?

In [25]:
medals_us = all_winner_data.groupby(['brewery'])['medal'].count()
top_brew_us = medals_us.sort_values(ascending=False)
top_5_us = top_brew_us.head()
vv = pd.DataFrame(top_5_us)

top_5_us_df = vv.rename(index=str, columns={"medal": "medal count"})
top_5_us_df.reset_index()

                        brewery  medal count
0  Firestone Walker Brewing Co.           28
1           Pizza Port Carlsbad           24
2          Sun King Brewing Co.           19
3             Pabst Brewing Co.           19
4             Chuckanut Brewery           18

In [ ]:
# ^^^
# Maybe we might want to speak on the fact that
# Firestone is in SLO and Pizza Port Carlsbad is in SD County?

In [26]:
# Create a dataframe?
# Possible visualization ideas?
# Possible state-by-state breakdown of medals? Using a different groupby?
# Even see the mean of all US states medal counts and compare it to CA? <-- I like this idea the best so far, myself

sd_medals = sd_data.groupby(['medal'])['year'].count()
ca_medals = cal_data.groupby(['medal'])['year'].count()
all_medals = all_winner_data.groupby(['medal'])['year'].count()

medals_df = pd.DataFrame({"SD medals won": sd_medals,
                         "CA medals won": ca_medals,
                         "All US won": all_medals})

medals_df['SD expected'] = [49, 49, 49]
medals_df['CA expected'] = [184, 184, 184]
medals_df['US expected'] = [882, 882, 882]

#### Breakdown of medals won from San Diego breweries

In [27]:
sd_df = medals_df[['SD medals won', 'SD expected']]
sd_df

        SD medals won  SD expected
medal
Bronze             49           49
Gold               58           49
Silver             41           49

In [28]:
crit_sd = stats.chi2.ppf(q = 0.95, df = 2)
print(f'The critical value for medal frequency is {crit_sd}')
stats.chisquare(sd_df['SD medals won'], sd_df['SD expected'])

The critical value for medal frequency is 5.991464547107979

Power_divergenceResult(statistic=2.9591836734693877, pvalue=0.2277306206904969)

### Conclusion
* Since the chi-square value of 2.96 at a confidence level of 95% does not exceed the critical value of 5.99, we conclude that the differences seen in the number of wins per medal are not statistically significant.
* If you were handed a randomly-chosen award-winning beer in San Diego, CA, it is just as likely to be a gold-medal beer as a bronze-medal beer.

#### Breakdown of medals won from California breweries

In [29]:
ca_df = medals_df[['CA medals won', 'CA expected']]
ca_df

        CA medals won  CA expected
medal
Bronze            186          184
Gold              185          184
Silver            182          184

In [30]:
crit_ca = stats.chi2.ppf(q = 0.95, df = 2)
print(f'The critical value for medal frequency is {crit_ca}')
stats.chisquare(ca_df['CA medals won'], ca_df['CA expected'])

The critical value for medal frequency is 5.991464547107979

Power_divergenceResult(statistic=0.048913043478260865, pvalue=0.9758401158271994)

### Conclusion
* Since the chi-square value of 0.05 at a confidence level of 95% does not exceed the critical value of 5.99, we conclude that the differences seen in the number of wins per medal are not statistically significant.
* With a p-value of 0.976, the distribution of medals won throughout all of California is roughly [uniform](http://mathworld.wolfram.com/UniformDistribution.html).
* If you were handed a randomly-chosen award-winning beer from California, there is a 1/3 chance of it winning a gold medal, a 1/3 chance of it winning a silver medal, and a 1/3 chance of it winning a bronze medal.

#### Breakdown of medals won from all breweries in the United States

In [31]:
us_df = medals_df[['All US won', 'US expected']]
us_df

        All US won  US expected
medal
Bronze         886          882
Gold           878          882
Silver         882          882

In [38]:
crit_us = stats.chi2.ppf(q = 0.95, df = 2)
print(f'The critical value for medal frequency is {crit_us}')
stats.chisquare(us_df['All US won'], us_df['US expected'])

The critical value for medal frequency is 5.991464547107979

Power_divergenceResult(statistic=0.036281179138321996, pvalue=0.982022960467876)

### Conclusion
* Since the chi-square value of 0.05 at a confidence level of 95% does not exceed the critical value of 5.99, we conclude that the differences seen in the number of wins per medal are not statistically significant.
* With a p-value of 0.982, the distribution of medals won throughout all of the United States is roughly [uniform](http://mathworld.wolfram.com/UniformDistribution.html).
* A randomly-selected medal-winning beer brewed within the United States has an even chance of being either a gold medal, a silver medal, or a bronze medal.

In [116]:
# Possibly a line graph? Or scatter-plot?

total_entries_us = all_winner_data.groupby(['year'])['total_category_entries'].count()
print('total US entries')
print(total_entries_us)
total_entries_cal = cal_data.groupby(['year'])['total_category_entries'].count()
print("")
print('total CA entries')
print(total_entries_cal)
total_entries_sd = sd_data.groupby(['year'])['total_category_entries'].count()
print("")
print('total SD entries')
print(total_entries_sd)

total US entries
year
2009    234
2010    236
2011    248
2012    251
2013    249
2014    268
2015    275
2016    286
2017    293
2018    306
Name: total_category_entries, dtype: int64

total CA entries
year
2009    39
2010    52
2011    51
2012    49
2013    52
2014    46
2015    67
2016    68
2017    57
2018    72
Name: total_category_entries, dtype: int64

total SD entries
year
2009    14
2010    15
2011    18
2012    14
2013     8
2014    12
2015    19
2016    18
2017    14
2018    16
Name: total_category_entries, dtype: int64

In [119]:
# List of all award-winning beers in 2018
# Any ides for visualization and/or story-telling?

bweh = sd_data.loc[sd_data['year'] == 2018]
sd_2018 = bweh[['medal', 'beer_name', 'brewery', 'category', 'total_category_entries']]
sd_2018

,medal,beer_name,brewery,category,total_category_entries
0,Gold,The Coachman,Societe Brewing Co.,Session India Pale Ale,92
1,Silver,Oats,Pizza Port Solana Beach,Oatmeal Stout,59
2,Silver,Duck Duck Gooze,Port Brewing Co. / The Lost Abbey,Wood- and Barrel-Aged Sour Beer,76
3,Silver,Redrum,Duck Foot Brewing Co.,Wood- and Barrel-Aged Beer,77
4,Silver,Noble Miner,Burgeon Beer Co.,Session Beer,50
5,Bronze,Bird Park,North Park Beer Co.,Bohemian-Style Pilsener,84
6,Bronze,Know Ego,Groundswell Brewing Co.,Classic Irish-Style Dry Stout,54
7,Bronze,Rail Gun Wee Heavy,BNS Brewing & Distilling Co.,Old Ale or Strong Ale,37
8,Silver,Delaminator Doppelbock,Rip Current Brewery,German-Style Doppelbock or Eisbock,31
9,Bronze,Zungen Brecher,Home Brewing Co.,Historical Beer,38
10,Gold,B.Right On Pale Ale,Ocean Beach Brewery,American-Style Pale Ale,170
11,Gold,Natural Bridge: Vienna Lager,Eppig Brewing,Session Beer,50
12,Gold,Rye Dawn,Breakwater Brewing Co.,Rye Beer,57
13,Bronze,Chocolate Macadamia Nut Stout,Kilowatt Brewing,Chocolate Beer,59
14,Gold,Liquid AC,Karl Strauss Brewing Co. - La Jolla,English-Style Summer Ale,61
15,Silver,Groundswell Piloncillo Brown Ale,Groundswell Brewing Co.,American-Style Brown Ale,76

In [78]:
top_brew_sd
pie_list = top_brew_sd.replace(
    {"Monkey Paw Brewing Co.": "Other",
     "Kilowatt Brewing": "Other",
        "Monkey Paw Brewing": "Other",
        "Mother Earth Brew Co.": "Other",
        "North Park Beer Co.": "Other",
        "OB Brewery": "Other",
        "Ocean Beach Brewery": "Other",
        "Oceanside Ale Works": "Other",
        "Pizza Port Bressi Ranch": "Other",
        "Port Brewing Co. / The Lost Abbey": "Other",
        "Pure Project": "Other",
        "Rock Bottom Brewery - La Jolla": "Other",
        "Saint Archer Brewing Co.": "Other",
        "South Park Brewing - CA": "Other",
        "SouthNorte Beer Co.": "Other",
        "The Beer Co.": "Other",
        "Karl Strauss Brewing Co. - Carlsbad": "Other",
        "Home Brewing Co.": "Other",
        "URBN St. Brewing Co.": "Other",
        "BNS Brewing & Distilling Co.": "Other",
        "Rip Current Brewery": "Other",
        "Karl Strauss Brewing Co. - La Jolla": "Other",
        "Karl Strauss Brewing Co.": "Other",
        "Societe Brewing Co.": "Other",
        "Ballast Point Brewing & Spirits - Scripps Ranch": "Other",
        "Stone Brewing World Bistro & Gardens - Liberty Station": "Other",
        "Bagby Beer Co.": "Other",
        "Breakwater Brewing Co.": "Other",
        "Second Chance Beer Co.": "Other",
        "Karl Strauss Brewing Co. - San Diego": "Other",
        "Benchmark Brewing Co.": "Other",
        "Duck Foot Brewing Co.": "Other",
        "Stone Brewing Co.": "Other",
        "Groundswell Brewing Co.": "Other",
        "Ballast Point Brewing Co.": "Other",
        "New English Brewing Co.": "Other",
        "Culture Brewing Co.": "Other",
        "Eppig Brewing": "Other",
        "Ballast Point Brewing Co": "Other",
        "Alpine Beer Co.": "Other",
        "Coronado Brewing Company Brewpub": "Other",
        "Brit Antrim Benefit Beer Pizza Port Ocean Beach": "Other",
        "Ballast Point Brewing Co. - Home Brew Mart": "Other",
        "Burgeon Beer Co.": "Other"})
pie_list

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [46]:
# POSSIBLE DATA VISUALIZATION FOR THIS LIST?
# ***How many award-winning beers does each brewery have?***

# Maybe a pie chart showing the medal breakdown of SD breweries?
# Or a pie chart showing the top 5-7 breweries, with all the others listed as "Other"

# Maybe combine similar names (i.e. "Ballast Point Brewing Co" and "Ballast Point Brewing Co.")
aaaaa = top_brew_sd.replace({
})

brewery
Pizza Port Carlsbad                                       24
AleSmith Brewing Co.                                      10
The Lost Abbey                                             9
Pizza Port Solana Beach                                    8
Pizza Port Ocean Beach                                     7
Green Flash Brewing Co.                                    6
Port Brewing Co.                                           6
BNS Brewing & Distilling Co.                               4
Rip Current Brewery                                        4
Karl Strauss Brewing Co. - La Jolla                        4
Karl Strauss Brewing Co.                                   4
Societe Brewing Co.                                        4
Ballast Point Brewing & Spirits - Scripps Ranch            3
Stone Brewing World Bistro & Gardens - Liberty Station     3
Bagby Beer Co.                                             3
Breakwater Brewing Co.                                     3
Second Chance Beer Co.                                     3
Karl Strauss Brewing Co. - San Diego                       3
Benchmark Brewing Co.                                      2
Duck Foot Brewing Co.                                      2
Stone Brewing Co.                                          2
Groundswell Brewing Co.                                    2
Ballast Point Brewing Co.                                  2
New English Brewing Co.                                    2
Culture Brewing Co.                                        2
Eppig Brewing                                              1
Ballast Point Brewing Co                                   1
Alpine Beer Co.                                            1
Coronado Brewing Company Brewpub                           1
Brit Antrim Benefit Beer Pizza Port Ocean Beach            1
Ballast Point Brewing Co. - Home Brew Mart                 1
Burgeon Beer Co.                                           1
URBN St. Brewing Co.                                       1
Home Brewing Co.                                           1
Karl Strauss Brewing Co. - Carlsbad                        1
The Beer Co.                                               1
SouthNorte Beer Co.                                        1
South Park Brewing - CA                                    1
Saint Archer Brewing Co.                                   1
Rock Bottom Brewery - La Jolla                             1
Pure Project                                               1
Port Brewing Co. / The Lost Abbey                          1
Pizza Port Bressi Ranch                                    1
Oceanside Ale Works                                        1
Ocean Beach Brewery                                        1
OB Brewery                                                 1
North Park Beer Co.                                        1
Mother Earth Brew Co.                                      1
Monkey Paw Brewing                                         1
Kilowatt Brewing                                           1
Monkey Paw Brewing Co.                                     1
Name: medal, dtype: int64

In [20]:
sd_data.head()

,medal,beer_name,brewery,city,county,state,category,year,total_category_entries
0,Silver,Oats,Pizza Port Solana Beach,Solana Beach,San Diego,CA,Oatmeal Stout,2018,59
1,Gold,Natural Bridge: Vienna Lager,Eppig Brewing,San Diego,San Diego,CA,Session Beer,2018,50
2,Gold,Liquid AC,Karl Strauss Brewing Co. - La Jolla,La Jolla,San Diego,CA,English-Style Summer Ale,2018,61
3,Bronze,Bird Park,North Park Beer Co.,San Diego,San Diego,CA,Bohemian-Style Pilsener,2018,84
4,Bronze,Chocolate Macadamia Nut Stout,Kilowatt Brewing,San Diego,San Diego,CA,Chocolate Beer,2018,59